<html>
  <head>
    <title>Iniciação Cientifica - Dipositivos Plug and Play</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <style type="text/css">
      
    </style>
  </head>
  <body>

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" ui-sref="home">Iniciação Cientifica - Dispositivos de Automação Residencial no Formato faça você mesmo (Plug and Play)</a>
        </div>
      </div>
    </nav>

    <div class="jumbotron" style="background-color: #FFFFFF">
      <div class="container">
        <h1>Dispositivos Plug and Play - Aplicação</h1>
        <ul class="list-inline">
          <li>
              <h2>Lâmpada</h2>
              <a href="/led0" class="btn btn-success">Ligar/Desligar</a>
          </li>
          <li>
            <h2>Tomada</h2>
            <a href="/led1" class="btn btn-success">Ligar/Desligar</a>
            
          </li>
          
         
          <li>
            <h2>Irrigador </h2>
            <p><span style="font-size: 6px,font:italic;">Tempo: </span><span style="font:bold">30,0s</span> </p>
          </li>
        </ul>
      </div>
    </div>


  </body>
</html>